<h1>add new course</h1>

<form action="/add" method="POST">
        <div class="input-field">
          <input  id="title" type="text" name="title" class="validate" required>
          <label for="title">Name of course</label>
          <span class="helper-text" data-error="enter a name"></span>
        </div>

        <div class="input-field">
          <input  id="price" type="number" name="price" class="validate" required min="1">
          <label for="price">price of course</label>
          <span class="helper-text" data-error="enter a price"></span>
        </div>

        <div class="input-field">
          <input  id="img" type="text" name="img" class="validate" required>
          <label for="img">URL IMG</label>
          <span class="helper-text" data-error="upload a picture"></span>
        </div>

        <button class="btn btn-primary">add course</button>
</form>